


.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  body{
    background-color: rgba(241, 241, 243, 1);
    
}

/* header */

/* nav */
.nav-title{
    font-weight: bold;
    font-size: 32px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 120px;
}
.btn-primary{
    border-color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    color: #006A50;
}
/* banner */
.banner{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 24px;
    width: 1280px;
    margin: 0 auto;
    

}
.banner-greetings{
    color: #757575;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 16px;
}
.banner-title{
    font-weight: bold;
    font-size: 56px;
    margin-top: 0px;
    margin-bottom: 24px;
}
.btn-secondary{
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 0px;
}
.banner-logo{
    width: 475px;
    height: 400px;
    padding: 80px 60px;
}
.banner-content{
    max-width: 622px;
    align-self: center;
    margin-left: 55px;
}
/* Main styles */
.main{
    max-width: 1280px;
    margin: 0 auto;
}


/* pillar section */
.section-title{
    font-size: 40px;
    margin-left: 110px;
    margin-top: 80px;
}
.pillars-container{
    max-width: 1280px;
    display: flex;
    gap: 24px;
    margin: 0 auto;
    
}
.pillar{
    padding: 24px;
    border-radius: 15px;
    background-color: white;
}

/* vision section */

.vision-future{
    max-width: 1280px;
    margin: 0 auto;
}
.vision-title{
    font-size: 40px;
    margin-left: 0;
    margin-top: 80px;
}
.vision-container{
    display: flex;
    gap: 24px;
}
.visions{
    flex: 1;
    background-color: white;
    padding: 30px;
    margin-bottom: 80px;
    border-radius: 13px;
}
.one{
    background-color: rgba(84, 144, 245, 0.2);
}
.btn-one{
    background-color: #5490F5;
    border: none;
    padding: 11px 20px;
    border-radius: 8px;
    width: 132px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.two{
    background-color: #C6E4D6;
}
.btn-two{
    background-color: #09A15C;
    border: none;
    padding: 11px 20px;
    border-radius: 8px;
    width: 132px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.three{
    background-color: #F7EBCF;
}
.btn-three{
    background-color: #FFC239;
    border: none;
    padding: 11px 20px;
    border-radius: 8px;
    width: 132px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.vision-description-section{
    background-color: white;
    max-width: 1280px;
    padding: 40px 25px;
}